
<div class="sidebar cyan accent-3">
    
    <ul id="nav-menu" class="left">
        <form>
            <div class="row">
              <div class="input-field col l12 valign-wrapper">
                  <div class="col l10">
                    <input id="search" type="search">
                  </div>
                  <div  class="col l2">
                    <img src="../../../assets/icons/Search.png" class="icons right">
                  </div>
              </div>
            </div>
          </form>
        <li><a href="">Pagina principal</a></li>
        <li><a href="quienessomos">Quiénes somos</a></li>
        <li><a href="sugerencias">Sugerencias</a></li>
    </ul>
    <ul id="nav-tags" class="left">
        <li><a style="font-weight: 700;">Etiquetas de la semana:</a></li>
        <li><a href="#">#VistoBueno</a></li>
        <li><a href="#">#VistoMalo</a></li>
        <li><a href="#">#LoPeorLoMejor</a></li>
        <li><a href="#">#Cine</a></li>
        <li><a href="#">#Television</a></li>
        <li><a href="#">#Anime</a></li>
    </ul>
</div>