
<div class="sidebar cyan accent-3">
    
    <ul id="nav-menu" class="left">
        <li><a href="">Pagina principal</a></li>
        <li><a href="quienessomos">Quiénes somos</a></li>
        <li><a href="sugerencias">Sugerencias</a></li>
        <li><a href="search">Búsqueda</a></li>
    </ul>
    <ul id="nav-tags" class="left">
        <li><a style="font-weight: 700;">Etiquetas de la semana:</a></li>
        <li><a>#VistoBueno</a></li>
        <li><a>#VistoMalo</a></li>
        <li><a>#LoPeorLoMejor</a></li>
        <li><a>#Cine</a></li>
        <li><a>#Television</a></li>
        <li><a>#Anime</a></li>
    </ul>
</div>