<div class="wrapper">
    <div class="hero">
        <h2>Quiénes somos</h2>
    </div>
    <div class="grid">
        <div class="colheader">
            <img src="../../assets/resources/nuestra-historia.PNG" alt="Icono de info">
            <h3>Nuestra historia</h3>
        </div>
        <div class="colheader">
            <img src="../../assets/resources/sobre-nosotros.PNG" alt="Icono de info">
            <h3>Sobre nosotros</h3>
        </div>
        <div class="text">
            <p>Este proyecto nació cuando en nuestra clase de Diseño de Sitios Web nos escargaron hacer un proyecto con el MEAN stack (MongoDB, Express, Angular y Node.js). Uno de nuestros miembros de equipo, Yulissa Álvarez, tuvo la idea de hacer un blog de críticas de películas y series. Todos estuvimos de acuerdo con la idea y después de trabajar en ella alrededor de 1 mes, completamos este proyecto.</p>
            <p>Desde ese entonces, la audiencia del sitio creció gradualmente hasta llegar a los 50 millones de lectores concurrentes, siendo el sitio de críticas mas popular del mundo. "El criticón" ha recibido reconocimiento internacional y múltiples premios incluyendo un premio nobel. Nah no es cierto :P </p>
        </div>  
        <div class="text">
            <p>Nuestro equipo está conformado por Yullisa Álvarez, Ludmila Haro y Abel Silva. Somos estudiantes de 6to semestre en Cetys Universidad campus Mexicali, cursando la carrera de Ingeniería en Ciencias Computacionales.</p>
        </div> 
        <div class="stock">
            <img src="../../assets/resources/stock-pc.png" alt="Stock image de gente feliz :)">
        </div>
        <div class="right">
            <h3>Contáctanos</h3>
            <div>
                <span>@el_criticon</span>
                <img src="../../assets/icons/twitter.jpg" alt="Twitter icon">
            </div>
            <div>
                <span>El criticon</span>
                <img src="../../assets/icons/facebook.jpg" alt="Twitter icon">
            </div>
            <div>
                <span>criticon_official@outlook.com</span>
                <img src="../../assets/icons/outlook-1.png" alt="Twitter icon">
            </div>
        </div>
    </div>
</div>
