.wrapper {
    margin-left: 230px;
}
.parallax-container {
    margin-top: -20px;
    height: 300px;
}
h2 {
    color:white;
    margin: 50px;
}
.card-panel{
    width: 254px;
    height: 202px;
}
.title{
    font-weight: 700;
}
.desc{
    font-size:large;
}