<div style="width: 1119px; margin-left: 230px;" class="parallax-container">
    <div style="width: 1000px;" class="valign-wrapper">
		<h2>Sugerencias</h2>
	</div>
    <div class="parallax"><img src="../../assets/resources/sugerencia.jpg"></div>
</div>
<div class="wrapper">
    </div>
    <div class="row">
        <div class="col l10 push-l2">
            <div class="col l3">
                <div class="card-panel blue lighten-1"></div>
            </div>
              <div class="col l3">
                <form action="#">
                    <p>
                    <label>
                        <input name="group1" type="radio" disabled="disabled"/>
                        <span>Amarillo</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input name="group1" type="radio" disabled="disabled"/>
                        <span>Rosa</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input name="group1" type="radio" checked/>
                        <span>Azul</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input name="group1" type="radio" disabled="disabled"/>
                        <span>Verde</span>
                    </label>
                    </p>
                </form>
                <button style="z-index: auto;" class="btn waves-effect waves-light " type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <div class="col l6">
                <h4 class="title">¡Queremos saber tu opinión!</h4>
            <p class="desc">¿Tienes alguna pelicula o serie que nos recomiendes ver para criticarla?
                Escribe tu dugerencia en la nota adhesiva, coloreala a tu gusto y pulsa Enviar :3
            </p>
            </div>
            
            
        </div>
        
    </div>
    <div class="row">
        <div class="col l10 push-l2">
            <app-notas *ngFor="let nota of notasService.notas" [data] = "nota"></app-notas>
        </div>
        
    </div>