<div style="width: 1119px; margin-left: 230px;" class="parallax-container">
    <div style="width: 1000px;" class="valign-wrapper">
		<h2>Sugerencias</h2>
	</div>
    <div class="parallax"><img src="../../assets/resources/sugerencia.jpg"></div>
</div>
<div class="wrapper">
    </div>
    <div class="row">
        <form #userPost="ngForm" (ngSubmit)="addNota(userPost.value)">
        <div class="col l10 push-l2">
            <div class="col l3">
                <div class="card-panel blue lighten-1">

                    <div class="input-field col s12">
                        <textarea id="text" class="materialize-textarea" type="text" name="text" ngModel required minlength="20" maxlength="110" size="10"></textarea>
                        <label for="text" style="color:rgb(48, 48, 48);">Escribe tu sugerencia aqui</label>
                    </div>

                </div>
            </div>
              <div class="col l3">
                <form action="#">
                  <!--  
                      Colores

                    SELECT
                    <div class="input-field col s12">
                        <select>
                          <option name="color" ngModel value="Amarillo">Amarillo</option>
                          <option name="color" ngModel value="Rosa">Rosa</option>
                          <option name="color" ngModel value="Azul">Azul</option>
                          <option name="color" ngModel value="Verde">Verde</option>
                        </select>
                        <label>Selecciona un color</label>
                      </div>

                      -----------------

                      RADIO BUTTONS
                    <p>
                    <label>
                        <input name="color" type="radio" value="Amarillo" checked/>
                        <span>Amarillo</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input name="color" type="radio" value="Rosa" />
                        <span>Rosa</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input name="color" type="radio" value="Azul" />
                        <span>Azul</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input name="color" type="radio" value="Verde" />
                        <span>Verde</span>
                    </label>
                    </p>-->
                </form>
                <button type="submit" style="z-index: auto; margin-top: 8px;" class="btn waves-effect waves-light ">Enviar
                    <i class="material-icons right">send</i>
                </button>
            </div>
            
            <div class="col l6">
                <h4 class="title">¡Queremos saber tu opinión!</h4>
            <p class="desc">¿Tienes alguna pelicula o serie que nos recomiendes ver para criticarla?
                Escribe tu sugerencia en la nota adhesiva, coloreala a tu gusto y pulsa Enviar :3
            </p>
            </div>
            
            
        </div>
    </form>
    </div>
    <div class="row">
        <div class="col l10 push-l2">
            <app-notas *ngFor="let nota of notasService.notas" [data] = "nota"></app-notas>
        </div>
        
    </div>