<div class="row">
    <div style="width: 1119px; margin-left: 230px; margin-bottom: 20px;" class="left-align col l8">
        <h5 class="titulo">La peor y la mejor película de 2021</h5>
    </div>
    <div style="margin-left: 230px; margin-bottom: 10px;" class="left-align col l1">
        <small class="fechayautor">12/12/21</small>
    </div>
    <div class="left-align col l2">
        <small class="fechayautor">por Yulissa Álvarez</small>
    </div>
</div>
<div class="row">
    <div style="width: 1119px; margin-left: 230px;" class="left-align col l12">
        <!--<small class="hashtags">#LoPeorLoMejor #Visto bueno #Visto malo #2021</small>-->
        <div class="chip">#LoPeorLoMejor</div>
        <div class="chip">#Visto bueno</div>
        <div class="chip">#Visto malo</div>
        <div class="chip">#2021</div>
    </div>
</div>
<div class="row">
    <div style="width: 950px;" class="center-align col l8 push-l3">
        <img class="imagen" src="assets/resources/imagen2.jpg">
    </div>
</div>
<div class="row">
    <div style="width: 1119px; margin-left: 230px;" class="left-align col l12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa tortor, 
            blandit ac ligula sed, dapibus tempor neque. Nam ac vehicula massa. Nulla rutrum felis 
            at lorem laoreet, at consectetur odio tempus. Nulla facilisis diam in nunc elementum euismod. 
            Aliquam ultricies sem ut justo lacinia fringilla in vitae sapien. Ut congue egestas sem quis 
            sollicitudin
        </p>
        <p>Vivamus molestie lacinia augue et suscipit. Vivamus commodo leo quam, quis efficitur ex 
            auctor in. Phasellus nunc mauris, imperdiet quis imperdiet quis, tristique vitae tellus. 
            Quisque cursus magna id lacus cursus, ut tincidunt enim rutrum. Donec urna nunc, egestas 
            ut nisi in, rutrum pharetra velit. Class aptent taciti sociosqu ad litora torquent per 
            conubia nostra, per inceptos himenaeos. Curabitur tempor auctor egestas. 
        </p>
    </div>
</div>

<hr>

<div class="row">
    <h6 style="margin-left: 350px;">¿Qué opinas? Deja un comentario.</h6>
    <form style="width:500px; margin-left: 240px; background-color:#03D4FF; border-radius: 25px;" class="col l12 center-align">
      <div class="row">
        <div style="margin-left: 20px; margin-bottom: 0px; margin-top: 20px;" class="input-field col l6">
          <input id="input_text" style="background-color: white;" type="text" data-length="10">
          <label style="margin-left: 10px;" for="input_text">Nombre</label>
        </div>
      </div>
      <div style="margin-left: 10px; margin-right: 10px; margin-top: 0px;" class="row">
        <div class="input-field col l12">
          <textarea id="textarea1" style="background-color: white; padding: 20px; height: 150px;" class="materialize-textarea" data-length="120"></textarea>
          <label style="margin-left: 10px;" for="textarea1">Comentario</label>
        </div>
      </div>
      <a style="border-radius: 25px; margin-bottom:20px; background-color: #FFC131;" class="btn-large center-align">Enviar</a>
    </form>

    <div style="margin-left: 20px; background-color: #FFC131;" class="col l5">
        <h6 style="text-align: center;">Comentarios</h6>
        <p style="font-style: italic;">Parece que aún no hay opiniones. ¿Te gustaría ser el primero en comentar?</p>
    </div>


  </div>