<div class="row">
    <div style="width: 1119px; margin-left: 230px;" class="left-align col l8 test">
        <h5 class="titulo">La peor y la mejor película de 2021</h5>
    </div>
    <div style="margin-left: 230px;" class="left-align col l1 test">
        <small class="fechayautor">12/12/21</small>
    </div>
    <div class="left-align col l2 test">
        <small class="fechayautor">por Yulissa Álvarez</small>
    </div>
</div>
<div class="row">
    <div style="width: 1119px; margin-left: 230px;" class="left-align col l12 test">
        <!--<small class="hashtags">#LoPeorLoMejor #Visto bueno #Visto malo #2021</small>-->
        <div class="chip">#LoPeorLoMejor</div>
        <div class="chip">#Visto bueno</div>
        <div class="chip">#Visto malo</div>
        <div class="chip">#2021</div>
    </div>
</div>
<div class="row">
    <div style="width: 950px;" class="center-align col l8 push-l3 test">
        <img class="imagen" src="assets/resources/imagen2.jpg">
    </div>
</div>
<div class="row">
    <div style="width: 1119px; margin-left: 230px;" class="left-align col l12 test">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa tortor, 
            blandit ac ligula sed, dapibus tempor neque. Nam ac vehicula massa. Nulla rutrum felis 
            at lorem laoreet, at consectetur odio tempus. Nulla facilisis diam in nunc elementum euismod. 
            Aliquam ultricies sem ut justo lacinia fringilla in vitae sapien. Ut congue egestas sem quis 
            sollicitudin
        </p>
        <p>Vivamus molestie lacinia augue et suscipit. Vivamus commodo leo quam, quis efficitur ex 
            auctor in. Phasellus nunc mauris, imperdiet quis imperdiet quis, tristique vitae tellus. 
            Quisque cursus magna id lacus cursus, ut tincidunt enim rutrum. Donec urna nunc, egestas 
            ut nisi in, rutrum pharetra velit. Class aptent taciti sociosqu ad litora torquent per 
            conubia nostra, per inceptos himenaeos. Curabitur tempor auctor egestas. 
        </p>
    </div>
</div>