i{
    color: #4A4A4A;
    margin-left: 25px;
}
h2 {
    display: inline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}
.comp {
    margin: 50px 250px;
}
