<div class="parallax-container">
    <div class="valign-wrapper">
		<h2 class="white-text txt1 left-align">Bienvenido al mejor blog de críticas del mundo hispanohablante</h2>
	</div>
    <div class="parallax"><img src="assets/resources/imagen1.jpg"></div>
</div>
<div class="row">
    <div class="center-align col l2 s4 push-l2 push-s4">
        <h5 class="subtitulo">Lo más reciente</h5>
    </div>
</div>
<div class="row">
    <!--<div class="center-align col l8 s8 push-l2 push-s4">
        <div class="card small blue-grey darken-1">
            <div class="card-image">
                <img src="assets/resources/imagen2.jpg">
                <span class="card-title">Card Title</span>
              </div>
            <div class="card-content white-text left-align">
              <span class="card-title">La mejor y la peor película de 2021</span>
              <p>Dicen que el 2021 no ha sido un buen año para el cine, pero, ¿qué tan cierto es esto?</p>
            </div>
            <div class="card-action">
              <a href="#">Ver más</a>
            </div>
        </div>
    </div>-->
    <div class="col l12 push-s8">
      <div class="col l5 left-align push-l2">
          <h5><strong>La peor y la mejor película de 2021</strong></h5>
          <p class="txtentr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa tortor, blandit ac ligula sed, dapibus tempor neque. Nam ac vehicula massa. Nulla rutrum felis at lorem laoreet, at consectetur odio tempus. Nulla facilisis diam in nunc elementum euismod. Aliquam ultricies sem ut justo lacinia fringilla in vitae sapien. Ut congue egestas sem quis sollicitudin…</p>
          <a class="btn-large">Ver más</a>
      </div>
      <div class="parallax-container parallax-container2 col l5 left-align push-l2">
        <div class="parallax"><img src="assets/resources/imagen2.jpg"></div>
      </div>
      
      <div class="col l5 left-align push-l2">
        <h5><strong>Reseña a "Bob Esponja: Al Rescate"</strong></h5>
        <p class="txtentr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa tortor, blandit ac ligula sed, dapibus tempor neque. Nam ac vehicula massa. Nulla rutrum felis at lorem laoreet, at consectetur odio tempus. Nulla facilisis diam in nunc elementum euismod. Aliquam ultricies sem ut justo lacinia fringilla in vitae sapien. Ut congue egestas sem quis sollicitudin…</p>
        <a class="btn-large">Ver más</a>
      </div>
      <div class="parallax-container parallax-container2 col l5 left-align push-l2">
        <div class="parallax"><img src="assets/resources/imagen3.jpg"></div>
      </div>

      <div class="col l5 left-align push-l2">
        <h5><strong>Todo lo que está mal con la 2da temporada de TPN</strong></h5>
        <p class="txtentr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa tortor, blandit ac ligula sed, dapibus tempor neque. Nam ac vehicula massa. Nulla rutrum felis at lorem laoreet, at consectetur odio tempus. Nulla facilisis diam in nunc elementum euismod. Aliquam ultricies sem ut justo lacinia fringilla in vitae sapien. Ut congue egestas sem quis sollicitudin…</p>
        <a class="btn-large">Ver más</a>
      </div>
      <div class="parallax-container parallax-container2 col l5 left-align push-l2">
        <div class="parallax"><img src="assets/resources/imagen4.jpeg"></div>
      </div>

      <div class="col l5 left-align push-l2">
        <h5><strong>¿Qué esperar del cine en 2022?</strong></h5>
        <p class="txtentr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa tortor, blandit ac ligula sed, dapibus tempor neque. Nam ac vehicula massa. Nulla rutrum felis at lorem laoreet, at consectetur odio tempus. Nulla facilisis diam in nunc elementum euismod. Aliquam ultricies sem ut justo lacinia fringilla in vitae sapien. Ut congue egestas sem quis sollicitudin…</p>
        <a class="btn-large">Ver más</a>
      </div>
      <div class="parallax-container parallax-container2 col l5 left-align push-l2">
        <div class="parallax"><img src="assets/resources/imagen5.jpg"></div>
      </div>

      <!--<img class="col l2 left-align push-l2" src="assets/resources/imagen2.jpg">-->
    </div>
</div>
