<div class="parallax-container">
    <div class="valign-wrapper">
		<h2 class="white-text txt1">Bienvenido al mejor blog de críticas del mundo hispanohablante</h2>
	</div>
    <div class="parallax"><img src="assets/resources/imagen1.jpg"></div>
</div>
<div class="row">
    <div class="center-align col l2 push-l2">
        <h5>Lo más reciente</h5>
    </div>
    
</div>
<div class="row">
    <div class="center-align col l8 push-l2">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="assets/resources/imagen2.jpg">
                <span class="card-title">Card Title</span>
              </div>
            <div class="card-content white-text left-align">
              <span class="card-title">La mejor y la peor película de 2021</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>
