.imagprincipal{
    padding: 0;
    margin-top:0px;
}
.parallax-container {
    margin-top: -20px;
    height: 300px;
}
.parallax-container2 {
    background-position: top;
    padding:0;
    width: 300px;
    height: 280px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.valign-wrapper	{
    height: 100%;
}
.txt1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
    text-shadow: 10px 5px 5px black;
    padding-right: 20px;
}
.subtitulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    padding-top: 20px;
}
.txtentr{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tituloentr{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    padding-top: 20px;
}
.test{
    border-width: 1px;
    border-style: solid;
    border-color: magenta;
}